.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.padding-zero {
    padding: 0;
}

.margin-zero {
    margin: 0;
}

.empty-list-style {
    list-style-type: none;
}

.horizontal-list > li {
    display: inline-block;
}

.horizontal-padding-30px {
    padding-right: 30px;
    padding-left: 30px;
}

.font-size-1-5em {
    font-size: 1.5em;
}

.center-text {
    text-align: center;
}

.cursor-pointer {cursor: pointer;}